/* Variables */
:root {
--accent: rgb(71, 17, 102);
--accent-dark: rgb(39, 7, 51)	;
--light: #fff;
--border-radius: 6px;
--highlight: #ddd;
}

/* Element styles */
html, body{
   margin: 5px;
   background-color: #f0f0f0;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

main{
    margin: 5% auto;
    max-width: 550px;
}


h1{
    text-align: left;
    font-size: 1.5rem;
    margin-bottom: 5%;
}

p{
    line-height: 1.4;
}

a, a:hover, a:focus, a:active{
    text-decoration: none;
    color: var(--accent);
    cursor: pointer;
}

input, .btn {
    padding: 8px;
    margin: 0 5px;
    border-radius: var(--border-radius);
    border: 1px solid var(--accent); 
    font-size: 1.2rem;
    line-height: 1;
}

section .btn{
    display: block;
    margin: 5px 0;
}

section{
    padding: 5%;
    background-color: var(--light);
}

section[data-visibility=hide]{
    display: none;
}

section[data-visibility=show]{
    display: block;
} 

button[disabled], button[disabled]:hover, button[disabled]:focus{
    cursor: not-allowed;
}

/* ID styles */
#initials-input {
    min-width: 0;
    flex-grow: 2;
}

/* Class styles */
.btn{
    color: var(--light);
    background-color: var(--accent);
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in;
    position: relative;
    font-size: 1rem;
}

.btn:hover, .btn:focus, btn:active{
    background-color: var(--accent-dark);
}

.btn:focus, input:focus{
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.quiz .btn:before{
    content: '⬜️';
    padding-right: 15px;
}

.quiz .btn.btn-selected:before {
    content: '🔳';
    padding-right: 15px;
}

.btn-selected::after, .btn-selected:not(.correct)::after{
    display: inline-block;
    content: 'Correct ✅';
    position: absolute;
    right: -90px;
    color: #333;
}

.btn-selected:not(.correct)::after{
 content: 'Wrong ❌';
}

.submit-initials{
    flex-wrap: nowrap;
    display: flex;
    align-items: center;
}

.scores-list{
    list-style: decimal;
    margin-bottom: 10px;
}

.scores-list li{
    margin: 0 0 0 30px; 
    padding: 5px;
}

.scores-list li::after{
    display: block;
    height: 0;
    outline: 2px solid white;
}

.scores-list li:nth-child(odd){
    background-color: var(--highlight);
    box-shadow: -2em 0 var(--highlight);
}

.text-center{
    text-align: center;
}

.text-center .btn{
    display: inline-block;
}

.margin-bottom{
    margin-bottom: 20px;
} 

.final-score, .bold {
    font-weight: bold;
}

.legend {
    font-size: 85%;
    color: #999;
    margin-bottom: 10px;
}

.red {
    color: #cc0000;
}

.error-message {
    background-color: #ffb6c182;
    margin-top: 10px;
    color: #cc0000;
    padding: 10px;
    border-radius: 6px;
    line-height: 1.1;
    position: relative;
    padding-left: 35px;
}

.error-message::before{
    content: '🚫';
    position: absolute;
    left: 6px;
}